:root{
    --handlee-font-family: 'Handlee', cursive;
    --opensans-font-family:'Open Sans', sans-serif;
    --mulish-font-family:'Mulish', sans-serif;
    --poppins-font-family:'Poppins', sans-serif;
    --pink-logo: #e99eba;
    --background-logo:#FDEDEC;
    --wine-logo:#7D0021;
    --pink-cv:#FB28D2;
}


h1 {
    font-weight: var(--handlee-font-family);
    font-weight: bold;
    font-size: 70px;
    line-height: 80px;
}

h2{
    font-family: var(--poppins-font-family);
    font-size: 39px;
    font-weight: bold;
}

h3 {
    font-family: var(--poppins-font-family);
    font-size: 24px;
    font-weight: bold;
}

h4{
    font-family: var(--opensans-font-family);
    font-size: 14px;
}

p {
    font-family: var(--opensans-font-family);
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

a {
    font-family: var(--mulish-font-family);
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
}

nav{
padding: 20px 0;
}

nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    font-family: var(--mulish-font-family);
    font-weight: normal;
    font-size: 16px;
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a{
    text-decoration: none;
    color: #272142;
}

nav a:hover,
nav li.active a{
    color: var(--pink-logo);
    transition: all 100ms ease-in-out;
}

.work a{
    text-decoration: none;
    font-family: var(--handlee-font-family);
    font-size: 25px;
    color: var(--pink-cv);
}

.work a:hover{
    text-decoration: underline;
    color: var(--pink-cv);
}

.hero {
    background-color: var(--background-logo);
    text-align: center;
    padding: 80px 20px;
}

.hero h1{
    font-family: var(--handlee-font-family);
    font-weight: bold;
    font-size: 65px;
}

.hero p {
    font-family: var(--mulish-font-family);
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--poppins-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 20px;
}

.content-container{
    padding: 60px 20px;
}

.content h1{
    font-size: 40px;
    line-height: 1.7;
}

.content h2{
    font-size: 40px;
    font-family: var(--handlee-font-family);
    font-weight: bold;
}

.content h3{
    font-size:  24px;
    line-height: 1.5;
    font-family: var(--handlee-font-family);
    font-weight: bold;
}

.content h4{
    font-family: var(--poppins-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 20px;
}

.content p{
    font-family: var(--opensans-font-family);
    font-size: 16px;
}

.profile{
    border-radius: 15px;
}
.content{
    margin: 30px;
}

.container h1{
    font-size: 40px;
    font-family: var(--handlee-font-family);
    font-weight: bold;
}

.container h2{
    font-size:  30px;
    font-family: var(--handlee-font-family);
    font-weight: bold;
}

.container p{
    font-family: var(--mulish-font-family);
    font-size: 16px;
}

.btn-bd-primary{
    text-decoration: none;
    color: white;
    background-color: var(--pink-logo);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-bd-primary:hover{
    color: var(--pink-cv);
    background-color: white;
    border: 1px solid var(--pink-cv);
}

.btn-bd-secondary{
    text-decoration: none;
    color: var(--pink-cv);
    border: 1px solid var(--pink-cv);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-bd-secondary:hover{
    color: white;
    background-color: var(--pink-logo);
    border: 1px solid var(--pink-logo);
}

.btn-bd-resume{
    text-decoration: none;
    color: var(--pink-cv);
    border: 1px solid var(--pink-cv);
    border-radius: 6px;
    font-size: 16px;
    padding: 10px 20px;
}

.btn-bd-resume:hover{
    color: white;
    background-color: var(--pink-logo); 
    border: 1px solid var(--pink-logo);
}

.project-description{
    padding: 120px 60px;
}

.logo{
    max-height: 50px;
    margin: 0;
    padding: 0;
}

.contact-links{
    text-decoration: none;
    color: var(--pink-logo);
}

.contact-links:hover{
    text-decoration: underline;
    color: var(--pink-cv);
    font-weight: bold;
}

.name{
    font-family: var(--handlee-font-family);
    font-weight: bold;
    font-size: 14px;
}

.creator{
    font-family: var(--mulish-font-family);
    font-weight: normal;
    font-size: 14px;
    text-align: center;
}
.creator a{
    font-size: 14px;
}

footer{
    margin: 60px 0;
}

footer .contact-box{
    background-color: var(--background-logo);
    padding: 30px 120px;
    border-radius: 10px;
}

footer h4{
    font-size: 50px;
    font-family: var(--handlee-font-family);
    font-weight: bold;
}

footer .contact-box p{
    font-family: var(--opensans-font-family);
    margin: 0;
    font-size: 18px;
}

footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
}

footer .email-link:hover{
    color: var(--pink-logo);
}

footer .social-links a{
    margin: 0 20px;
    color: var(--pink-logo);
    background-color: white;
    padding: 10px 14px;
    font-size: 18px;
    border-radius: 50%;
}

footer .social-links a:hover{
    color: var(--pink-cv);
    background-color: var(--background-pink-logo);
    transition: all 100ms ease-in-out; 
}


@media (max-width:900px){

    h1{
        font-size: 44px;
        line-height: 56px;
    }

    h2{
        font-size: 44px;
    }

    .project-description{
        padding: 0;
        text-align: center;
    }

    .content-container{
        text-align: center;
        padding: 0;
    }

    .content-container h1{
        font-size: 44px;
        line-height: 56px;
    }

    .contact-sm h3{
        font-size: 18px;
    }

    .contact-sm a{
        font-size: 12px;
    }

    nav a{
        font-size: 14px;
    }

}